<div class="py-sm lg:flex justify-between content-center">
  <div class="flex justify-between items-center">
    <div>
      <div [ngTemplateOutlet]="logo01"></div>
    </div>
    <div class="lg:hidden">
      <img class="mr-xs" src="assets/images/List.svg" alt="" (click)="toggleMenu()">
    </div>
  </div>
  <div class="lg:flex items-center" [class.hidden]="!menuClick" [class.sidebar]="menuClick">
    <div class="lg:hidden p-md">
      <div [class.hidden]="!menuVisible" [ngTemplateOutlet]="logo01"></div>
    </div>
    <a *ngFor="let item of menuList" [href]="item.id"
      class="h-[44px] w-[120px] rounded-[48px] hover:bg-primary-300 flex justify-center items-center cursor-pointer" (click)="closeBurLayer()">
      <img class="mr-xs btn-img" src="assets/images/HandCoins.svg" [alt]="item.name">
      {{item.name}}</a>
    <div class="lg:hidden">
      <div class="p-md">
        <hr>
      </div>
      <div [class.hidden]="!menuVisible" *ngTemplateOutlet="outsideLink;context: { showText: true }"></div>
    </div>
  </div>
  <div class="hidden lg:flex">
    <div *ngTemplateOutlet="outsideLink"></div>
  </div>
</div>

<div class="bur-layer" [class.hidden]="!menuClick" (click)="closeBurLayer()"></div>

<ng-template #logo01>
  <img src="assets/images/logo-01.svg" alt="">
</ng-template>
<ng-template #outsideLink let-showText="showText">
  <div class="flex items-center cursor-pointer"><img class="lg:mx-sm lg:p-0 mx-xs p-sm" src="assets/images/FacebookLogo.svg"
      alt=""><span *ngIf="showText">Facebook</span></div>
  <div class="flex items-center cursor-pointer"><img class="lg:mx-sm lg:p-0 mx-xs p-sm" src="assets/images/InstagramLogo.svg"
      alt=""><span *ngIf="showText">Instagram</span></div>
  <div class="flex items-center cursor-pointer"><img class="lg:mx-sm lg:p-0 mx-xs p-sm" src="assets/images/YoutubeLogo.svg"
      alt=""><span *ngIf="showText">YouTube</span></div>
</ng-template>
