<section class="h-screen flex flex-wrap justify-center">
  <div class="w-[90%]">
    <app-header></app-header>
    <div>
      <!-- 主視覺 -->
      <section>
        <div class=" justify-center relative hidden md:flex">
          <img src="assets/images/Section-00.svg" alt="">
          <button class="btn-sm absolute left-[71%] 2xl:left-[65%] top-[88%]">候選人簡介<img class="ml-sm bounce-right"
              src="assets/images/ArrowRight.svg" alt=""></button>
        </div>

        <div class="flex justify-center relative md:hidden">
          <img src="assets/images/Section-00-mobile.svg" alt="">
          <button class="btn-sm absolute top-[48%] left-[4%] sm:left-[18%] mobile">候選人簡介<img class="ml-sm bounce-right"
              src="assets/images/ArrowRight.svg" alt=""></button>
        </div>
      </section>
      <!-- 候選主張 -->
      <section class="md:flex py-xl">
        <app-item-title class="w-1/3" title="候選主張" subtitle="Candidate Claims"></app-item-title>
        <div class="md:w-2/3">
          我黑新星堅信，藉由推動更完善的貓咪福利和相關政策，更是間接地投資於台灣的未來。畢竟，民眾的身心健康與工作熱情是推動經濟的核心動力。透過完善的貓咪福利政策，為台灣的 GDP 經濟帶來巨大效益。
          <div class="p-2"></div>
          因此，我期望能在立法院內推進這些政策，確保每一隻貓咪都能得到他們應有的照顧，同時也為台灣的經濟發展助一臂之力。讓我們一同護航台灣的幸福經濟，從照顧每一隻貓咪開始。
        </div>
      </section>
      <!-- 最新活動 -->
      <section class="md:flex py-xl">
        <app-item-title class="w-1/3" title="最新活動" subtitle="Latest Events"></app-item-title>
        <div class="md:w-2/3">
          <div class="mb-lg">
            <app-event-block [imgPath]="'assets/images/event-01.svg'" title="參與台北寵物論壇，爭取貓咪友善環境" time="12.26.2023"
              desc="炎炎夏日的周六，我走進了台北寵物論壇，帶著一副貓耳髮箍，決定要全力宣傳「貓咪至上」的理念！我相信，我們的都市中，每一隻貓咪都應該有自己的 VIP 休憩空間。"></app-event-block>
          </div>
          <div class="mb-lg">
            <app-event-block imgPath="assets/images/event-02.svg" title="掃街模式開啟！帶著你的貓耳，和我一起走！" time="12.24.2023"
              desc="街上氣氛真的很棒，從小孩到大人，甚至有些狗狗朋友都帶著貓耳來找我握手，真的太可愛了！這次的活動不僅讓我看到大家的熱情，更加堅定了我推進「貓咪友善環境」政策的決心。"></app-event-block>
          </div>
          <div class="mb-lg">
            <app-event-block imgPath="assets/images/event-03.svg" title="收容所模特兒大比拼！" time="12.20.2023"
              desc="今天的收容所不再是一片寂靜。為了讓更多人認識到這裡的毛孩子，我們舉辦了一場前所未有的「模特兒走秀」！"></app-event-block>
          </div>
        </div>
      </section>
      <!-- 政策議題 -->
      <section class="py-xl">
        <app-item-title title="政策議題" subtitle="Policy Issues"></app-item-title>
        <app-tabs>
          <app-tab tabTitle="寵物醫療保障方案" [isActive]="true">
            <div class="text-title text-primary-500 p-md text-center">為毛孩子謀福利！推動寵物醫療保障方案</div>
            <div class="flex flex-wrap lg:p-lg md:p-sm justify-between">
              <app-issue-block imgPath="assets/images/PiggyBank.svg" title="設立寵物醫療基金"
                desc="每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用。"></app-issue-block>
              <app-issue-block imgPath="assets/images/FirstAidKit.svg" title="提供醫療補助"
                desc="每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用。"></app-issue-block>
              <app-issue-block imgPath="assets/images/Handshake.svg" title="合作動物醫院"
                desc="每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用。"></app-issue-block>
            </div>
          </app-tab>
          <app-tab tabTitle="寵物休閒與娛樂場所">
            <div class="text-title text-primary-500 p-md text-center">打造休閒天堂！推廣寵物休閒與娛樂場所</div>
            <div class="flex flex-wrap lg:p-lg md:p-sm justify-between">
              <app-issue-block imgPath="assets/images/Park.svg" title="建立寵物公園"
                desc="每年撥款新台幣 5 億元，用於在各大都市建立專屬的寵物公園。根據初步規劃，預計在第一年內，將在全國範圍內建立至少 10 座寵物公園。"></app-issue-block>
              <app-issue-block imgPath="assets/images/Storefront.svg" title="推廣寵物友善商家"
                desc="鼓勵商家提供寵物友善的環境，並為參與的商家提供稅收優惠。預計在政策實施後的首年，將有超過 500 家商家加入此計畫。"></app-issue-block>
              <app-issue-block imgPath="assets/images/PawPrint.svg" title="舉辦寵物活動和工作坊"
                desc="與各大寵物社團和組織合作，每年舉辦至少 5 場大型的寵物活動，包括寵物才藝比賽、飼養知識工作坊等。"></app-issue-block>
            </div>
          </app-tab>
          <app-tab tabTitle="推廣寵物飼養教育">
            <div class="text-title text-primary-500 p-md text-center">推廣寵物飼養教育，讓愛更加專業</div>
            <div class="flex flex-wrap lg:p-lg md:p-sm justify-between">
              <app-issue-block imgPath="assets/images/Buildings.svg" title="建立寵物飼養教育中心"
                desc="每年撥款新台幣 3 億元，用於在全國各地建立專業的寵物飼養教育中心。預計在第一年內，在全國至少 5 大城市設立教育中心。"></app-issue-block>
              <app-issue-block imgPath="assets/images/BowlFood.svg" title="推廣寵物飼養課程"
                desc="與學校、社區組織和寵物社團合作，推出一系列免費的寵物飼養課程。預計每年將有超過 10,000 名市民受益。"></app-issue-block>
              <app-issue-block imgPath="assets/images/Video.svg" title="製作教育資料"
                desc="出版寵物飼養手冊、影片和線上課程，讓所有有意飼養寵物的家庭都能輕鬆取得正確的知識"></app-issue-block>
            </div>
          </app-tab>
        </app-tabs>

      </section>
      <!-- 小額捐款 -->
      <section class="md:flex py-xl">
        <div class="md:w-2/5 flex flex-col justify-between mr-md">
          <div>
            <app-item-title title="小額捐款" subtitle="Small Donations"></app-item-title>
            <div class="text-subtitle">您的每筆捐款，
              <br>
              是每隻毛孩未來的大大動力！
            </div>
          </div>

          <div class="h-[109px] bg-gray-500 rounded-md flex flex-col justify-between px-lg py-xs text-primary-300">
            <div class="text-subtitle">目前贊助總金額</div>
            <div class="text-display">987,655,873</div>
          </div>
        </div>
        <div class="md:w-3/5">
          <app-sponsor-card class="block mb-md" imgPath="assets/images/MoonStars.svg" title="喵衛星" money="'600'"></app-sponsor-card>
          <app-sponsor-card class="block mb-md" imgPath="assets/images/Planet.svg" title="喵行星" money="6,000"></app-sponsor-card>
          <app-sponsor-card class="block mb-md" imgPath="assets/images/Sun.svg" title="喵恆星" money="60,000"></app-sponsor-card>
          <app-sponsor-card  imgPath="assets/images/ShootingStar.svg" title="喵彗星" money="自訂贊助金額"></app-sponsor-card>
        </div>
      </section>
      <section class="py-xl">
        <app-item-title title="服務信箱" subtitle="Service Mail"></app-item-title>
      </section>
    </div>
  </div>
  <app-footer class="self-end w-full"></app-footer>
</section>
