<section class="bg-gray-500 px-md py-lg">
  <div class="flex flex-wrap">
    <div class="flex-none w-full md:w-1/2">
      <img src="assets/images/logo-02.svg" alt="logo">
    </div>
    <div class="w-full md:w-1/2 flex flex-wrap lg:justify-end">
      <div class="px-md">
        <div class="text-primary-300 pd-md">快速連結</div>
        <div class="flex flex-raw sm:flex-col">
          <div class="text-white py-xs cursor-pointer">首頁</div>
          <div class="text-white py-xs cursor-pointer">最新活動</div>
          <div class="text-white py-xs cursor-pointer">政策議題</div>
          <div class="text-white py-xs cursor-pointer">小額捐款</div>
        </div>
      </div>
      <div class="px-md">
        <div class="text-primary-300 pd-md">與我們聯繫</div>
        <div class="text-white py-xs flex"><img class="mr-1" src="assets/images/location.svg" alt="">新星區閃耀大道88號 喵喵大樓3樓</div>
        <div class="text-white py-xs flex"><img class="mr-1"  src="assets/images/Phone.svg" alt="">(02) 888-5678</div>
        <div class="text-white py-xs flex"><img class="mr-1" src="assets/images/Envelope.svg" alt="">supernova.black@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="text-white text-sm text-center pt-lg">© 2023 黑新星 Supernova Black 版權所有。</div>
</section>
